modules = ["python-3.12", "web", "nodejs-20"]
run = "python"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python"]

[workflows]
runButton = "Run Frontend Only"

[[workflows.workflow]]
name = "Run APT Dashboard"
author = 42137517
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Run Frontend Only"
author = 45045861
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
